# dataset_preprocessing
Deep3DFaceRecon_pytorch
dataset_preprocessing/ffhq/*_mystyle
training-runs
pretrained
notebooks
networks
eg3d_orig
dataset
latent_code
out_geometry
*.pkl
*.dat
*_wrapper_*.py
*.png
paths_config_*.py
eg3d_pti_*
*results*
dnnlib
*.ipynb
paper
supplementary*

images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
eg3d_results

._.DS_Store
